.home h1{
	color: yellow;
	width: 100%;
	height: 10rem;
	margin: 0 auto;
	background-color: greenyellow;
}
.home .nav{
	width: 100%;
	height : 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	top: 0;
	z-index: 3;
	background-color: rgba(0,0,0,.1);
}
.home .nav input{
	height : 0.8rem;
	width: 80%;
	border: 0.01333rem solid #bbb;
	border-radius: 0.1333rem;
	background: url("../img/search_0b8e800.png") no-repeat;
	background-position: 0.1rem center;
	background-size: .34667rem;
}
.home>.swiper-container{
	width: 100%;
	height: 5.0667rem;
	-moz-animation: 302-;
}
						
.swiper-wrapper img{
	width: 100%;
	height: 5.0667rem;
}
/*精选swiper 样式*/
/*.jingxuan .swiper-container{
	width: 100%;
	position: relative;
}
			
.jingxuan .swiper-slide{
    width: 80%;
    height: 3.2rem;
	margin: 0.2667rem;
	border: 1px solid black;
}
.jingxuan .swiper-slide img{
	width: 6.4rem;
	height: 3.2rem;
}*/

.jingxuan  .swiper-container {
        width: 100%;
        height: 100%;
    }
.jingxuan .swiper-wrapper{
	
}
.jingxuan  .swiper-slide {
		width: 80%;
        text-align: center;
        font-size: 18px;
        background: #fff;
        width: 80%;
        border: 1px solid black;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
/* 图片集合样式 */
.pic_banner{
	width: 100%;
	height: 5rem;
	display: flex;
	flex-wrap: wrap;
}
.pic_banner .pic_item{
	width: 50%;
	height: 2.5rem;
	box-sizing: border-box;
	border: 0.01333rem solid #eee;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.pic_item .banner_item{
	height: 1.6rem;
	width:2.9rem;
	background-color: white; 
	display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.banner_item h2{
	font-size: 0.3733rem;
}
.banner_item p{
	color: #999;
}
.pic_item img,.hot_item_tit img{
	width: 1.6rem;
	height: 1.6rem;
	
}
/*热卖样式*/
.pic_hot{
	width: 100%;
	height: 3.5rem;
	margin: 0.2667rem 0;
	display: flex;
	flex-wrap: wrap;	
}
.pic_hot_item{
	width: 33.3333%;
	height: 100%;
	box-sizing: border-box;
	border: 1px solid #eee;
	background-color: white;
}
.pic_hot_item .hot_item_tit{
	margin: auto;
	width: 95%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center; 
}
.hot_item_tit h2{
	text-align: center;
	font-size: 0.4rem;
}
.hot_item_tit p{
	text-align: center;
}
.hot_item_tit img{
	margin: 0 auto
}
/*精选样式*/
.jingxuan{
	width: 100%;
	background-color: white;
}
.jingxuan h2,.tuijian h2{
	width: 100%;
	height: 1rem;
	line-height: 1rem;
}

/*推荐样式*/
.tuijian{
	width: 100%;
	background-color: white;
	margin: 0.2667rem 0;
}
/*.tuijian h2,.jingxuan h2{
	margin-left: 0.3rem;
}*/
.tuijian .tuijian_ul{
	width: 100%;
	background-color: white;
}
 .tuijian_ul .tuijian_item {
 	list-style: none;
 	width: 9.733rem;
 	margin: 0 auto;
 	background-color: white;
 	border-bottom: 0.0133rem solid #ccc;
 }
 .tuijian_item a{
 	padding: 0.2667rem 0;
 	display: flex;
 	flex-wrap: nowrap;
 	justify-content: space-around;
 	align-items: center;
 }
 .tuijian_item img{
 	width: 3rem;
 	height: 3rem;
 }
 
 .tuijian_item .item_decs{
 	width: 6.2478rem;
 	height: 3rem;
 	display: flex;
    flex-direction: column;
    justify-content: space-around;
 }
 .item_decs p{
 	color: red;
 }
 .item_decs h2{
 	font-size: 0.3733rem;
 }
 .item_address{
 	background: white;
 }
 .item_address span{
 	display: inline-block;
    height: 0.4rem;
    padding: 0.08rem;
    border: 0.01333rem solid #ccc;
    border-radius: 0.1333rem;
    margin-right: 0.5rem;
 }
.item_address .item_web{
	display: inline-block;
	font-size: 0.3733rem;
}