<div class="cart">
	<!-- 轮播图 -->
	<div class="swiper-container">
		  <div class="swiper-wrapper">
		    <div class="swiper-slide"><img src="http://shihuo.hupucdn.com/appHome/201701/1718/e0c8fde4be49b1208c16397b41260f23.jpg?imageView2/2/w/750/h/268/interlace/1"/></div>
		    <div class="swiper-slide"><img src="http://shihuo.hupucdn.com/appHome/201701/1718/e0c8fde4be49b1208c16397b41260f23.jpg?imageView2/2/w/750/h/268/interlace/1"/></div>
		    <div class="swiper-slide"><img src="http://shihuo.hupucdn.com/appHome/201702/1019/f6c104d468df276efd65ea845c1db6d4.jpg?imageView2/2/w/750/h/268/interlace/1"/></div>
		  </div>
		  <!-- 分页器 -->
		  <div class="swiper-pagination"></div>
	</div>
	
	<!-- 顶部列表 -->
	<div class="blockList">
		<a href="#">
			<div class="blockList_item">
				<h2>清单活动</h2>
				<p>秀出你的情侣款</p>
				<img src="http://shihuo.hupucdn.com/appShiwuHome/201702/0914/b646137715d7aad702ae727e68e95f4a.jpg?imageView2/0/w/150/h/150/interlace/1" alt="" />
			</div>
		</a>
		<a href="#">
			<div class="blockList_item" >
				<h2>晒物</h2>
				<p>4921人已参与</p>
				<img src="http://shihuo.hupucdn.com/appShiwuHome/201702/0914/b646137715d7aad702ae727e68e95f4a.jpg?imageView2/0/w/150/h/150/interlace/1" alt="" />
			</div>
		</a>
		<a href="#">
			<div class="blockList_item" >
				<h2>众测</h2>
				<p>NB新款跑鞋众测</p>
				<img src="http://shihuo.hupucdn.com/appShiwuHome/201702/0410/9709b1d3cafb9cbde32d341018bc94af.jpg?imageView2/0/w/150/h/150/interlace/1" alt="" />
			</div>
		</a>
	</div>
	<!-- 热门专题 -->
	<div class="zhuanti">
		<h2>热门专题</h2>
		<div class="zhuantiList">
				<div class="zhuantiItem" ng-repeat="item in cartCtrl.showList">
					<a href="#"><img ng-src="{{item.img}}" alt="" /><p>{{item.title}}</p></a>
				</div>
		</div>
	</div>
	
	<!-- 精选推荐 -->
	<div class="jxTuiJian">
		<h2 class="jxTj">精选推荐</h2>
		<!-- 二级菜单选项 -->
		<div class="jxTuiJianList">
				<div class="jxTuiJianItem" ng-repeat="item in cartCtrl.tuijianList">
					<p ng-click="cartCtrl.changePage('{{item.type}}');" ui-sref=".itemType({type : item.type})">{{item.title}}</p>
				</div>
		</div>
		<!--二级菜单显示页面-->
		<div ui-view ="itemType">
			
		</div>
	</div>
</div>
