<div class="cart">
	<!-- 轮播图 -->
	<div class="swiper-container">
		  <div class="swiper-wrapper">
		    <div class="swiper-slide">slider1</div>
		    <div class="swiper-slide">slider2</div>
		    <div class="swiper-slide">slider3</div>
		  </div>
		  <!-- 分页器 -->
		  <div class="swiper-pagination"></div>
	</div>
	
	<!-- 顶部列表 -->
	<div class="blockList">
		<a href="#">
			<div class="blockList_item">
				<h2>清单活动</h2>
				<p>秀出你的情侣款</p>
				<img src="#" alt="" />
			</div>
		</a>
		<a href="#">
			<div class="blockList_item">
				<h2>清单活动</h2>
				<p>秀出你的情侣款</p>
				<img src="#" alt="" />
			</div>
		</a>
		<a href="#">
			
		</a>
	</div>
	<!-- 热门专题 -->
	<div class="zhuanti">
		<h2>热门专题</h2>
		<div class="zhuantiList">
			<a href="#">
				<div class="zhuantiItem">
					<img src="#" alt="" />
					<p>最炫AJ缤纷来袭</p>
				</div>
			</a>
			<a href="#">
				<div class="zhuantiItem">
					<img src="#" alt="" />
					<p>最炫AJ缤纷来袭</p>
				</div>
			</a>
			<a href="#">
				<div class="zhuantiItem">
					<img src="#" alt="" />
					<p>最炫AJ缤纷来袭</p>
				</div>
			</a>
			<a href="#">
				<div class="zhuantiItem">
					<img src="#" alt="" />
					<p>最炫AJ缤纷来袭</p>
				</div>
			</a>
			<a href="#">
				<div class="zhuantiItem">
					<img src="#" alt="" />
					<p>最炫AJ缤纷来袭</p>
				</div>
			</a>
			<a href="#">
				<div class="zhuantiItem">
					<img src="#" alt="" />
					<p>最炫AJ缤纷来袭</p>
				</div>
			</a>
		</div>
	</div>
	
	<!--  -->
</div>
