<div class="home">
	<!--搜索框 -->
	<div class="nav"><input class="serach" type="text" name="" id="" value="     识货独家搜最全正品低价装备" /><a href="">消息</a></div>
	<!-- 主页轮播图 -->
	<div class="swiper-container">
		  <div class="swiper-wrapper">
		    <div ng-repeat="item in homeCtrl.getSwiperImgS" class="swiper-slide">
		    	<img ng-src="{{item.img}}"/>
		    </div>
		    <!--<div class="swiper-slide">slider2</div>
		    <div class="swiper-slide">slider3</div>-->
		  </div>
		  <!-- 分页器 -->
		  <div class="swiper-pagination"></div>
	</div>
	
	<!--<h1>{{ homeCtrl.pageName }}</h1>-->
	<!-- 导航 -->
	<div class="pic_banner">
		<div class="pic_item" ng-repeat="item in homeCtrl.getTopList">
			<div class="banner_item">
				<h2>{{item.title}}</h2>
				<p>{{item.dec}}</p>
			</div>
			<img ng-src="{{item.img}}" alt="" />
		</div>
		<!--<div class="pic_item"></div>
		<div class="pic_item"></div>
		<div class="pic_item"></div>-->
	</div>
	<!-- 热卖 -->
	<div class="pic_hot">
		<div class="pic_hot_item">
			<div class="hot_item_tit">
					<h2>今日优惠</h2>
					<p>耐克官网7折促销</p>
				<img src="#" alt="" />
			</div>
		</div>
		<div class="pic_hot_item"></div>
		<div class="pic_hot_item"></div>
	</div>
	<!-- 精选 -->
	<div class="jingxuan">
		<h2>精选专题</h2>
		
			<!--<div class="swiper-container">
				  <div class="swiper-wrapper">
				  		<div ng-repeat="item in homeCtrl.jxSwiperImgs" class="swiper-slide">
				    		<a href="#"><img ng-src="{{item.img}}" class="jingxuan_pic"/></a>
				    	</div>
				  </div>
			</div>-->
			<div class="swiper-container">
			  <div class="swiper-wrapper">
			    <div ng-repeat="item in homeCtrl.jxSwiperImgs" class="swiper-slide">
			    	<a href=""><img ng-src="{{item.img}}"/></a>
			    </div>
			  </div>
		</div>
	</div>
	<div class="tuijian">
		<h2>每日推荐</h2>
			<ul class="tuijian_ul">
				<!-- 请求每日推荐数据 -->
				<li class="tuijian_item" ng-repeat="item in homeCtrl.getTuiJianList">
					<a href="#/xiangqing/{{item.id}}">
						<img ng-src="{{item.img}}" alt="" />
						<div class="item_decs">
							<h2>{{item.label}}</h2>
							<p>{{item.itemDesc}}</p>
							<div class="item_address">
								<span>{{item.fatoryCsr}}</span>
								<div class="item_web">{{item.fatoryName}}</div>
							</div>
						</div>
					</a>
				</li>
			</ul>
	</div>
	<!--<ul>
		<li ng-repeat="person in homeCtrl.getUserList | orderBy : 'name':true">{{person.name}} : {{person.age}}</li>
	</ul>-->
</div> 