<div class="itemType">
	<!--<a href="#/xiangqing/001">呵呵哒</a>-->
	<ul class="tuijian_ul">

		<li class="tuijian_item" ng-repeat="item in itemTypeCtrl.typeList">
			<a href="#/xiangqing/{{item.id}}">
				<img ng-src="{{item.img}}" alt="" />
				<div class="item_decs">
					<h2>{{item.label}}</h2>
					<p>{{item.itemDesc}}</p>
					<div class="item_address">
						<span>{{item.fatoryCsr}}</span>
						<div class="item_web">{{item.fatoryName}}</div>
					</div>
				</div>
			</a>
		</li>
	</ul>
</div>
