<div class='market'>
	<h1 ng-click="marketCtrl.goBack();" class="go_back">返回</h1>
	<div class="bgZong">
		<div class="bgWenzi">
			<h2>篮球BASKETBALL</h2>
			<div class="bgDesc">Air jordan 31 等8款超低价 细数Nike全明星佳作</div>
		</div>
		<!--四个小方块 -->
		<div class="lbxZong">
			<div class="liubianxing">
				<div class="class1d"></div><div class="class2d"></div><div class="class3"></div>
			</div>
			<div class="liubianxing">
				<div class="class1d"></div><div class="class2d" id="Pic1"></div><div class="class3"></div>
			</div>
			<div class="liubianxing">
				<div class="class1d"></div><div class="class2d" id="Pic2"></div><div class="class3"></div>
			</div>
			<div class="liubianxing">
				<div class="class1d"></div><div class="class2d" id="Pic3"></div><div class="class3"></div>
			</div>
		</div>
	</div>
	<div class="bgType">
		<ul>
			<li>篮球鞋</li>
			<li>篮球服饰</li>
			<li>篮球配件</li>
			<li>篮球</li>
			<li>Nike</li>
			<li>adidas</li>
			<li>jordan</li>
			<li>全部</li>
		</ul>
	</div>
	
	<div class="bgZong" id="bgZong2">
		<div class="bgWenzi">
			<h2>休闲潮流</h2>
			<div class="bgDesc">adidas Ultra Boostdeng8款超低价谁说矮个子不能穿大衣了？</div>
		</div>
		<!--四个小方块 -->
		<div class="lbxZong">
			<div class="liubianxing">
				<div class="class1d"></div><div class="class2d" id="Pic4"></div><div class="class3"></div>
			</div>
			<div class="liubianxing">
				<div class="class1d"></div><div class="class2d" id="Pic5"></div><div class="class3"></div>
			</div>
			<div class="liubianxing">
				<div class="class1d"></div><div class="class2d" id="Pic6"></div><div class="class3"></div>
			</div>
			<div class="liubianxing">
				<div class="class1d"></div><div class="class2d" id="Pic7"></div><div class="class3"></div>
			</div>
		</div>
	</div>
	<div class="bgType">
		<ul>
			<li>鞋类</li>
			<li>服装</li>
			<li>配件</li>
			<li>耳机</li>
			<li>Converse</li>
			<li>CASIO</li>
			<li>Vans</li>
			<li>全部</li>
		</ul>
	</div>
	
	<div class="bgZong" id="bgZong3">
		<div class="bgWenzi">
			<h2>跑步RUNNING</h2>
			<div class="bgDesc">Nike LunarStelos等8款超性价比国产运动耳机，满满的性价比2
			</div>
		</div>
		<!--四个小方块 -->
		<div class="lbxZong">
			<div class="liubianxing">
				<div class="class1d"></div><div class="class2d" id="Pic8"></div><div class="class3"></div>
			</div>
			<div class="liubianxing">
				<div class="class1d"></div><div class="class2d" id="Pic9"></div><div class="class3"></div>
			</div>
			<div class="liubianxing">
				<div class="class1d"></div><div class="class2d" id="Pic10"></div><div class="class3"></div>
			</div>
			<div class="liubianxing">
				<div class="class1d"></div><div class="class2d" id="Pic11"></div><div class="class3"></div>
			</div>
		</div>
	</div>
	<div class="bgType">
		<ul>
			<li>跑步鞋</li>
			<li>跑步服饰</li>
			<li>跑步配件</li>
			<li>运动补给</li>
			<li>asics</li>
			<li>adidas</li>
			<li>New Balance</li>
			<li>全部</li>
		</ul>
	</div>
</div>
