<div class="more">
	<!--<h1>更多</h1>-->
	<div class="logIn">
		<div class="logUser">更多</div>
		<input type="button" name=""  value="登录" class="log"/>
	</div>
	<!-- 订单页 -->
	<div class="userOrder">
		<ul class="userAct"><a href="#"><li class="order">我的订单</li></a>
		</ul>
	</div>
	<!-- 购物车信息 -->
	<div class="orderInf">
		<!--<img class="orderImg" ng-src="{{moreCtrl.orderImg}}"></img>
		<div class="orderDes">
			<p>{{moreCtrl.orderInf}}</p>
			<div class="address">
				{{moreCtrl.orderAddress}} 数量 ：{{moreCtrl.itemNum }}
			</div>
		</div>-->
		<div ng-repeat="item in moreCtrl.itemList">
			<div class = "itemInf">
				<img class="orderImg" ng-src="{{item.itemImg}}"></img>
				<div class="orderDes">
					<p>{{item.itemTit}}</p>
					<div class="address">{{item.newPrice}}<input class="jianItem" type="button"  value="-" />数量 ：{{item.itemNum}}<input class="addItem" type="button"  value="+" /></div>
				</div>
			</div>
		</div>
		
		
	</div>
</div>
